.anchor {
    display: block;
    position: relative;
    top: -230px;
    visibility: hidden;
}

.footer {
    position:fixed;
    height:100%;
}

.vertical_space {

    margin-top:2cm;
    margin-bottom:2cm
}
